@charset "UTF-8";
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.ic-tag:before {
  width: 199px;
  height: 199px;
  background: url('../img/icons-s7a69d74ecd.png') 0 -635px no-repeat;
}

.ic-scrollbottom:before {
  width: 133px;
  height: 10px;
  background: url('../img/icons-s7a69d74ecd.png') 0 0 no-repeat;
}

.ic-1etap:before {
  width: 62px;
  height: 56px;
  background: url('../img/icons-s7a69d74ecd.png') -133px 0 no-repeat;
}

.ic-2etap:before {
  width: 42px;
  height: 68px;
  background: url('../img/icons-s7a69d74ecd.png') -46px -56px no-repeat;
}

.ic-3etap:before {
  width: 46px;
  height: 67px;
  background: url('../img/icons-s7a69d74ecd.png') 0 -56px no-repeat;
}

.ic-4etap:before {
  width: 70px;
  height: 59px;
  background: url('../img/icons-s7a69d74ecd.png') -124px -191px no-repeat;
}

.ic-5etap:before {
  width: 64px;
  height: 70px;
  background: url('../img/icons-s7a69d74ecd.png') -88px -56px no-repeat;
}

.ic-6etap:before {
  width: 58px;
  height: 65px;
  background: url('../img/icons-s7a69d74ecd.png') -46px -126px no-repeat;
}

.ic-7etap:before {
  width: 46px;
  height: 51px;
  background: url('../img/icons-s7a69d74ecd.png') 0 -126px no-repeat;
}

.ic-sale:before {
  width: 200px;
  height: 255px;
  background: url('../img/icons-s7a69d74ecd.png') 0 -834px no-repeat;
}

.ic-sale1:before {
  width: 124px;
  height: 123px;
  background: url('../img/icons-s7a69d74ecd.png') 0 -512px no-repeat;
}

.ic-sale2:before {
  width: 124px;
  height: 84px;
  background: url('../img/icons-s7a69d74ecd.png') 0 -191px no-repeat;
}

.ic-sale3:before {
  width: 122px;
  height: 122px;
  background: url('../img/icons-s7a69d74ecd.png') 0 -390px no-repeat;
}

.ic-sale4:before {
  width: 127px;
  height: 115px;
  background: url('../img/icons-s7a69d74ecd.png') 0 -275px no-repeat;
}

/* ---------------------------------------- */
/* M O D A L    S T Y L E                   */
/* ---------------------------------------- */
.modal__dialog {
  width: 350px;
  border: 10px solid rgba(0, 0, 0, 0.3);
}
.modal__content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 0;
  background-color: #006bb3;
  -webkit-box-shadow: 0 0 5px rgba(0, 75, 125, 0.8);
  -moz-box-shadow: 0 0 5px rgba(0, 75, 125, 0.8);
  -ms-box-shadow: 0 0 5px rgba(0, 75, 125, 0.8);
  -o-box-shadow: 0 0 5px rgba(0, 75, 125, 0.8);
  box-shadow: 0 0 5px rgba(0, 75, 125, 0.8);
}
.modal__body {
  padding: 25px 20px 40px;
}
.modal__body .close {
  opacity: 1;
}
.modal__body__form .form__heading, .modal__body__form .form__subheading {
  color: #fff;
  font: 400 22px/26px "Roboto", sans-serif;
}
.modal__body__form .form__heading {
  margin-top: 0;
}
.modal__body__form .form__subheading {
  margin-bottom: 30px;
  font-weight: 300;
}
.modal__body__form .form-group {
  position: relative;
  padding: 0;
}
.modal__body__form .form-group input {
  padding-left: 40px;
  color: #ff9300;
}
.modal__body__form .form-group .fa {
  position: absolute;
  top: 6px;
  left: 10px;
  color: #585858;
  font-size: 18px;
}
.modal__body__form .form-group .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.modal__body__form .form-group .form-control:focus {
  -webkit-box-shadow: " inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(253,255,57,.6) ";
  -moz-box-shadow: " inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(253,255,57,.6) ";
  -ms-box-shadow: " inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(253,255,57,.6) ";
  -o-box-shadow: " inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(253,255,57,.6) ";
  box-shadow: " inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(253,255,57,.6) ";
  border-color: #ff9300;
}
.modal__body__form .form-group .form-control:focus ~ .fa {
  color: #ff9300;
}
.modal__body__form .form-group .form-control::-moz-placeholder {
  color: #585858;
}
.modal__body__form .form-group .form-control::-webkit-input-placeholder {
  color: #585858;
}
.modal__body__form .form__btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  width: 100%;
  padding: 15px 0;
  margin-top: 15px;
  background-color: #ff9300;
  background-image: linear-gradient(to top, #f58d00 0%, #ffae00 100%);
  -webkit-box-shadow: inset 0 0 10px rgba(252, 208, 0, 0.75);
  -moz-box-shadow: inset 0 0 10px rgba(252, 208, 0, 0.75);
  -ms-box-shadow: inset 0 0 10px rgba(252, 208, 0, 0.75);
  -o-box-shadow: inset 0 0 10px rgba(252, 208, 0, 0.75);
  box-shadow: inset 0 0 10px rgba(252, 208, 0, 0.75);
}
.modal__body__form .form__btn p {
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  font: 400 18px/20px "Roboto", sans-serif;
  margin-bottom: 0;
}

.form__btn {
  position: relative;
}
.form__btn .fa {
  position: absolute;
  top: 18px;
  left: 20px;
}
.form__btn:hover .fa, .form__btn:focus .fa, .form__btn:active .fa {
  color: #fff;
}

/* -------------------------------------------- */
/* S E C T I O N    H E A D I N G    S T Y L E  */
/* -------------------------------------------- */
.section__heading {
  font: 400 30px/36px "Roboto Slab", sans-serif;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.section__heading--separator {
  height: 4px;
  width: 170px;
  background-color: #006bb3;
  margin: 0 auto 60px;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
html {
  overflow-x: hidden;
}

body {
  padding-right: 0 !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.header {
  background: #fff;
  padding: 20px 0 65px;
}
.header .logo {
  padding: 0;
  height: auto;
  margin-right: 20px;
}

.nav__title {
  font: 300 16px/22px "Roboto", sans-serif;
  color: #000;
}
.nav__title--text {
  font: 400 16px/22px "Roboto", sans-serif;
  color: #006bb3;
}
.nav__text {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.nav__phone {
  display: inline-block;
}
.nav__phone a {
  display: block;
}
.nav__center .fa, .nav__right .fa {
  color: #006bb3;
  font-size: 60px;
  margin-right: 10px;
}
.nav__right .fa-phone {
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.nav__call {
  display: inline-block !important;
  border-bottom: 2px dashed #006bb3;
}
.nav__call:hover, .nav__call:focus, .nav__call:active {
  border-color: #000;
}

/* ---------------------------------------- */
/* O F F E R    S T Y L E                   */
/* ---------------------------------------- */
.offer {
  background: url(../img/offerbg.png) no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-position: center top;
  padding: 160px 0 190px;
  margin-top: -100px;
  color: #fff;
}
.offer > .container {
  position: relative;
}
.offer__list {
  padding-right: 30px;
}
.offer__list ul {
  padding-left: 0;
}
.offer__list ul li {
  font: 400 25px/40px "Roboto", sans-serif;
  list-style-type: none;
  margin-bottom: 10px;
}
.offer__list ul li:before {
  content: "✔";
  margin-right: 10px;
  color: #006bb3;
}
.offer__list__heading {
  font: 400 40px/52px "Roboto Slab", sans-serif;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.offer__modal {
  width: 100%;
  margin-top: 0;
  border: 10px solid rgba(0, 0, 0, 0.3);
}
.offer__modal .modal__body {
  padding: 40px;
}
.offer__modal__text {
  margin-bottom: 35px;
  font: 300 22px/30px "Roboto", sans-serif;
}
.offer__modal__text span {
  font-weight: 400;
}
.offer .tag {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  bottom: -50px;
}
.offer .scroll {
  position: absolute;
  left: 50%;
  margin-left: -65px;
  bottom: -100px;
}

/* ---------------------------------------- */
/* I N T E N T    S T Y L E                 */
/* ---------------------------------------- */
.intent {
  padding: 220px 0;
  margin-top: -22vh;
  background: url(../img/intentbg.png) no-repeat;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-position: center top;
}
.intent__col {
  float: right;
  padding: 0 10px 0 90px;
}
.intent__heading {
  font: 400 26px/38px "Roboto", sans-serif;
  color: #222325;
  border-left: 8px solid #1b70b3;
  padding-left: 15px;
  margin-left: -25px;
}
.intent__text {
  font: 300 20px/26px "Roboto", sans-serif;
  margin-top: 30px;
}

/* ---------------------------------------- */
/* S T A G E    S T Y L E                   */
/* ---------------------------------------- */
.stage {
  padding: 0 0 100px;
  background: #f9f9f9 url(../img/stagebg.png) no-repeat;
  background-position: center 228px;
}
.stage__slider {
  padding: 350px 30px 0;
}
.stage__slider__info {
  padding: 40px;
}
.stage__slider__heading {
  margin-bottom: 45px;
}
.stage__slider .carousel-inner .item {
  border: 5px solid #006bb3;
}
.stage__slider .carousel-inner .item img {
  width: 470px;
  height: 450px;
  margin: -5px;
}
.stage__slider .carousel-control {
  background: none;
  bottom: auto;
  top: 150px;
  width: 70px;
  height: 70px;
  background-color: #006bb3;
  opacity: 1;
}
.stage__slider .carousel-control .fa {
  line-height: 70px;
}
.stage__slider .carousel-control.right {
  right: -75px;
}
.stage__slider .carousel-control.left {
  left: -75px;
}
.stage__slider .carousel-indicators {
  bottom: auto;
  top: -140px;
  width: 100%;
  margin: 0;
  left: 0;
}
.stage__slider .carousel-indicators li {
  height: 44px;
  width: 44px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #006bb3;
  border: 4px solid #7cb3d8;
  margin: 0;
  text-indent: 0;
  line-height: 36px;
  color: #fff;
  vertical-align: top;
}
.stage__slider .carousel-indicators li .ic {
  display: none;
}
.stage__slider .carousel-indicators li.active {
  border: 8px solid #7cb3d8;
  height: 90px;
  width: 90px;
  background-color: #fff;
  margin-top: -22px;
}
.stage__slider .carousel-indicators li.active span {
  display: none;
}
.stage__slider .carousel-indicators li.active .ic {
  display: inline-block;
}

/* ---------------------------------------- */
/* S A L E    S T Y L E                     */
/* ---------------------------------------- */
.sale {
  padding: 0 0 100px;
  background: #f9f9f9 url(../img/salebg.png) no-repeat center 100px;
}
.sale__col {
  margin-top: 100px;
}
.sale__col .ic {
  margin-bottom: 40px;
}
.sale__info {
  color: #fff;
  font: 400 26px/30px "Roboto", sans-serif;
  margin-bottom: 60px;
}
.sale__btn, .work .form__btn {
  padding: 15px 50px;
  background-color: #ff9300;
  background-image: linear-gradient(to top, #f58d00 0%, #ffae00 100%);
  -webkit-box-shadow: inset 0 0 10px rgba(252, 208, 0, 0.75);
  -moz-box-shadow: inset 0 0 10px rgba(252, 208, 0, 0.75);
  -ms-box-shadow: inset 0 0 10px rgba(252, 208, 0, 0.75);
  -o-box-shadow: inset 0 0 10px rgba(252, 208, 0, 0.75);
  box-shadow: inset 0 0 10px rgba(252, 208, 0, 0.75);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.sale__btn span, .work .form__btn span {
  color: #fff;
}
.sale__box__heading, .sale__box__info {
  color: #fff;
  text-align: center;
}

/* ---------------------------------------- */
/* A D V A N T A G E    S T Y L E           */
/* ---------------------------------------- */
.advantage {
  padding: 100px 0;
}
.advantage__content {
  width: 400px;
  float: right;
  color: #fff;
  background-color: #fff !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  padding: 20px 0;
  z-index: 15;
}
.advantage__content .offer__modal__text p {
  font: 500 36px/40px "Roboto", sans-serif;
}
.advantage__content .modal__body {
  padding: 50px 40px;
  background-color: #006bb3;
  -webkit-box-shadow: 0 0 5px rgba(0, 75, 125, 0.8);
  -moz-box-shadow: 0 0 5px rgba(0, 75, 125, 0.8);
  -ms-box-shadow: 0 0 5px rgba(0, 75, 125, 0.8);
  -o-box-shadow: 0 0 5px rgba(0, 75, 125, 0.8);
  box-shadow: 0 0 5px rgba(0, 75, 125, 0.8);
  z-index: 20;
}
.advantage__box {
  padding: 25px 0;
}
.advantage__list {
  padding: 65px 35px 35px;
  border: 5px solid #006bb3;
  z-index: 10;
}
.advantage__list ul {
  padding: 0;
}
.advantage__list ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.advantage__list ul li {
  display: inline-block;
  font: 400 22px/36px "Roboto", sans-serif;
  color: #000;
  margin-bottom: 20px;
  list-style-type: none;
}
.advantage__list ul li:before {
  content: "✔";
  margin-right: 10px;
  background-color: #006bb3;
  color: #fff;
  padding: 3px 6px;
}
.advantage__list ul li p {
  float: right;
  display: inline;
  width: 85%;
  margin-top: -8px;
}
.advantage__list ul li span {
  color: #006bb3;
  font-weight: 500;
}
.advantage__list--text {
  padding-left: 95px;
}
.advantage__list--text p {
  font: 400 22px/36px "Roboto", sans-serif;
  color: #291818;
}
.advantage__list--text span {
  font-size: 36px;
  color: #fff;
  background-color: #006bb3;
  padding: 5px;
}

/* ---------------------------------------- */
/* W O R K    S T Y L E                     */
/* ---------------------------------------- */
.work {
  padding: 0;
  background: url(../img/work.png) no-repeat center 65px/100% 80%;
}
.work__info {
  padding: 170px 0 228px;
}
.work__info--text {
  color: #fff;
  font: 400 26px/36px "Roboto", sans-serif;
  margin-bottom: 50px;
}
.work .form__btn {
  color: #fff;
}
.work .form__btn:hover .fa, .work .form__btn:focus .fa, .work .form__btn:active .fa {
  color: inherit;
}
.work__advantage1 .ignat__img {
  height: 772px;
  width: 478px;
  background: url(../img/ignat.png) no-repeat;
}
.work__advantage2, .work__advantage4 {
  position: relative;
  z-index: 10;
  background: url(../img/work2.png) no-repeat center 65px/100% 80%;
  margin-top: -32vh;
}
.work__advantage2 .work__info--text, .work__advantage4 .work__info--text {
  color: #000;
}
.work__advantage2 .work__info--text span, .work__advantage4 .work__info--text span {
  color: #006bb3;
}
.work__advantage2 .offer__img, .work__advantage4 .offer__img {
  margin-top: 140px;
  height: 604px;
  width: 523px;
  background: url(../img/offer.png) no-repeat;
}
.work__advantage3 {
  margin-top: -150px;
}
.work__advantage3 .work__info {
  padding: 228px 0;
}
.work__advantage3 .justice__img {
  margin-top: -90px;
  height: 769px;
  width: 363px;
  background: url(../img/justice.png) no-repeat;
}
.work__advantage4 {
  margin-top: 0;
  position: relative;
  top: -140px;
}
.work__advantage4 .work__info {
  padding: 228px 0;
}
.work__advantage4 .mockup__img {
  margin: 140px 0 0 -140px;
  height: 712px;
  width: 726px;
  background: url(../img/mockup.png) no-repeat;
}

/* ---------------------------------------- */
/* F A Q    S T Y L E                       */
/* ---------------------------------------- */
