+comment('general style')
+ic
@each $ic in tag, scrollbottom, 1etap, 2etap, 3etap, 4etap, 5etap, 6etap, 7etap, 8etap, sale, sale1, sale2, sale3, sale4, close, done
  .ic-#{$ic}
    +sb(#{$ic})
+comment("modal style")      
.modal
  &.fade.in
    padding-right: 0 !important
  &__dialog
    width: 350px  
    border: 10px solid rgba(0, 0, 0, 0.3)
  &__content
    +br(0)  
    border: 0
    background-color: #006bb3
    +bs( 0 0 5px rgba(0, 75, 125, 0.8) ) 
    .modal
      &__info
        color: #fff
        padding: 60px 25px 25px
        border: 2px solid #fff
        min-height: auto
        &--heading
          font: 500 22px/26px 'Roboto', sans-serif
          margin-bottom: 30px
        &--text 
          p 
            font: 400 16px/20px 'Roboto', sans-serif
            margin-bottom: 30px
  &__body
    padding: 25px 20px 40px  
    .close
      opacity: 1
      position: absolute
      right: -150px
      top: -10px
      .ic-close
        transform: scale(0.8)
    &__form
      .form
        &__heading,
        &__subheading
          color: #fff
          font: 400 22px/26px 'Roboto', sans-serif  
        &__heading
          margin-top: 0
        &__subheading
          margin-bottom: 30px
          font-weight: 300
        &__call--back
          font: 300 16px/16px 'Roboto', sans-serif
          color: #fff
        &-group
          position: relative
          padding: 0 
          margin-bottom: 25px
          input
            padding-left: 40px
            color: #000
          .fa
            position: absolute
            top: 6px
            left: 10px
            color: #585858
            font-size: 18px
          .form-control
            +br(0)
            &:focus
              +bs(' inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(253,255,57,.6) ')
              border-color: #ff9300 
              ~.fa
                color: #ff9300
            &::-moz-placeholder
              color: #585858
            &::-webkit-input-placeholder 
              color: #585858
        &__btn 
          +br(0)
          width: 100%
          padding: 15px 0
          background-color: #ff9300
          background-image: linear-gradient(to top, #f58d00 0%, #ffae00 100%)
          +bs( inset 0 0 10px rgba(252, 208, 0, 0.75) )
          margin-bottom: 15px
          span
            color: #fff
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.35)
            font: 400 18px/20px 'Roboto', sans-serif
            margin-bottom: 0        
.form__btn
  position: relative
  .fa
    position: absolute
    top: 18px
    left: 20px  
  &:hover,
  &:focus,
  &:active
    .fa
      color: #fff    
+comment("section heading style") 
.section
  &__heading
    font: 400 24px/34px 'Roboto Slab', sans-serif
    color: #000
    letter-spacing: 1px
    text-transform: uppercase  
    margin-bottom: 25px
    &--separator
      height: 4px
      width: 170px
      background-color: #006bb3
      margin: 0 auto 60px

+comment("home page style")
html
  overflow-x: hidden
body
  padding-right: 0 !important  
  background-color: #f9f9f9
a,
a:hover,
a:focus
  color: inherit
  text-decoration: none
  outline: none    
.header
  background: #fff
  padding: 20px 0 0
  .logo
    padding: 0
    height: auto 
    margin-right: 15px
.nav
  &__title
    font: 300 14px/22px 'Roboto', sans-serif
    color: #000
    &--text
      font: 400 12px/16px 'Roboto', sans-serif
      color: #006bb3
  &__text
    display: inline-block
    vertical-align: top
    text-align: left
  &__phone
    display: inline-block
    a
      display: block  
  &__center,
  &__right   
    .fa  
      color: #006bb3
      font-size: 60px
      margin-right: 10px
  &__right
    .fa-phone
      +rotate(40)    
  &__call
    display: inline-block !important
    border-bottom: 2px dashed #006bb3   
    &:hover,
    &:focus,
    &:active
      border-color: #000
+comment("offer style")  
.offer
  background: #fff url(../img/offerbg.png) no-repeat
  +cover
  background-position: center top
  padding: 228px 0 0
  margin-top: -110px
  color: #fff
  >.container
    position: relative
  &__list
    ul
      padding-left: 0
      li
        font: 400 18px/24px 'Roboto', sans-serif
        list-style-type: none 
        margin-bottom: 10px 
        &:before
          content: '\2714'
          margin-right: 10px
          color: #006bb3
    &__heading
      font: 400 19px/24px 'Roboto Slab', sans-serif 
      text-transform: uppercase 
      margin-bottom: 50px
      text-align: center
  &__modal
    width: 100%  
    margin: 0 auto
    border: 10px solid rgba(0, 0, 0, 0.3)
    .modal__body 
      padding: 25px 15px 30px
    &__text
      margin-bottom: 35px
      font: 300 14px/20px 'Roboto', sans-serif
      span
        font-weight: 400  
  .tag
    position: absolute
    left: 50%
    margin-left: -100px   
    bottom: -100px   
  .scroll
    position: absolute  
    left: 50%
    margin-left: -65px
    bottom: -120px
+comment("intent style")     
.intent
  padding: 180px 0 80px
  margin-top: -80px
  background: url(../img/intentbg.png) no-repeat
  +cover
  background-position: center top
  &__col
    float: right
    padding: 0 15px 0 40px
  &__heading
    font: 400 19px/24px 'Roboto', sans-serif
    color: #222325
    border-left: 8px solid #1b70b3
    padding-left: 15px
    margin-left: -25px
  &__text
    font: 300 16px/20px 'Roboto', sans-serif   
    margin-top: 30px 
+comment("stage style") 
.stage
  padding: 0 0 50px
  background: #f9f9f9 
  background-size: contain
  &__slider
    padding: 380px 3px 0
    &--box
      padding: 0 35px 25px
      text-align: center
      z-index: 10
    &__info
      padding: 0
    &__heading
      margin-bottom: 30px   
      padding: 0 40px
    .carousel-inner
      .item
        img
          position: relative
          z-index: 15
          width: 470px
          height: 450px
      &:before
        content: ''
        display: block
        border: 5px solid #006bb3
        height: 100%
        margin: 0
        width: 100%
        position: absolute
    .carousel-control
      background: none  
      bottom: auto
      top: 20px
      width: 25px
      height: 25px
      background-color: #006bb3 
      opacity: 1
      .fa
        line-height: 25px
      &.right
        right: 30px
      &.left
        left: 30px 
    .carousel-indicators
      bottom: auto
      top: -170px  
      width: 100%
      margin: 0
      left: 0
      li
        display: table-cell
        width: 1% 
        margin: 0     
        position: relative  
        text-indent: 0
        line-height: 36px
        color: #fff
        vertical-align: top
        +br(0)
        border: 0
        &:nth-child(1),
        &:nth-child(8)  
          top: 70px
        &:nth-child(2),
        &:nth-child(7)  
          top: 35px
        &:nth-child(3),
        &:nth-child(6) 
          top: 7px 
        &:nth-child(4),
        &:nth-child(5) 
          top: -6px 
        .stage__item
          display: inline-block
          height: 44px
          width: 44px
          +br(50%)
          background-color: #006bb3  
          border: 4px solid #7cb3d8 
          .ic
            display: none
        &.active
          display: table-cell
          width: 1%
          background-color: transparent
          .stage__item
            height: 100px
            width: 100px
            background-color: #fff 
            margin: -50px -20px 0 -36px
            border: 8px solid rgba(124,179,216, 0.5) 
            position: relative
            +br(50%)
            span
              display: none
            .ic
              display: inline-block
              line-height: 80px
            &:before
              display: block
              content: ''
              height: 88px
              width: 88px
              border: 2px solid #006bb3    
              +br(50%)
              position: absolute
              left: -2px
              top: -2px  
    &--small
      margin-top: 240px
      .slick 
        &-prev,
        &-next
          top: 45px 
          opacity: 1
          background-color: #006bb3
          .fa
            font-size: 20px
            color: #fff
            text-align: center
        &-prev
          left: 10px
        &-next
          right: 10px    
      .slider__small--info
        border: 5px solid #006bb3
        .stage__slider__heading
          padding: 0 15px
        .stage__slider
          &--box
            padding: 0 20px
    &--marker
      .slick
        &-track
          padding-top: 25px
        &-slide
          text-align: center
      .stage__item
        display: inline-block
        height: 44px
        width: 44px
        +br(50%)
        background-color: #006bb3
        border: 4px solid #7cb3d8  
        color: #fff
        text-align: center
        line-height: 36px
        .ic
          display: none
      .slick-current
        .stage__item
          height: 90px
          width: 90px
          background-color: #fff
          margin-top: -21px
          border: 4px solid rgba(124, 179, 216, 0.5)
          line-height: 70px
          .ic
            display: inline-block   
          span
            display: none  
+comment("sale style") 
.sale
  padding: 0
  background: #f9f9f9
  position: relative
  overflow: hidden
  &__heading,
  &__separator
    &.in
      opacity: 0
      transition: all 1s ease
  &__col
    margin-top: 100px
    .ic
      margin-bottom: 40px
  &__col.in
    opacity: 0   
    transition: all 1s ease
  &__spoiler
    position: static  
    margin: 0 -15px  
    &--btn.in
      position: relative
      top: -235px
  &__spoiler.in    
    bottom: -30px
  &__info
    color: #fff
    font: 400 26px/30px 'Roboto', sans-serif
    margin-bottom: 30px
  &__btn
    z-index: 25
    padding: 15px 50px
    background-color: #ff9300
    background-image: linear-gradient(to top, #f58d00 0%, #ffae00 100%)
    +bs( inset 0 0 10px rgba(252, 208, 0, 0.75) )
    +br(0)
    span
      color: #fff
  &__subheading
    font: 400 30px/32px 'Roboto', sans-serif
    color: #000
    margin-bottom: 30px
  &__box
    padding: 40px 25px 10px
    background-color: #006bb3
    margin-bottom: 30px
    border-bottom: 5px solid #004776
    &__heading,
    &__info
      color: #fff  
      text-align: center  
      font: 400 16px/22px 'Roboto', sans-serif
      p
        margin-bottom: 0
    &__heading
      padding: 0 50px
      p
        font-size: 24px
        padding-bottom: 10px
        margin-bottom: 15px
        border-bottom: 1px solid #fff  
+comment("advantage style")  
.advantage
  padding: 0
  background-color: #f9f9f9
  &__content
    float: right    
    color: #fff  
    background-color: #f9f9f9 !important
    +bs( none !important ) 
    padding: 20px 0
    z-index: 15
    .modal
      &__body
        background-color: #006bb3
        +bs( 0 0 5px rgba(0, 75, 125, 0.8) )
        z-index: 20
  &--border
    border: 5px solid #006bb3
  &__box
    padding: 25px 0      
  &__list
    padding: 40px 15px
    z-index: 10
    ul 
      padding: 0
      &:after
        content: ''
        display: block
        height: 0
        clear: both
        visibility: hidden
      li
        display: inline-block
        font: 400 14px/18px 'Roboto', sans-serif
        color: #000
        margin-bottom: 20px
        list-style-type: none 
        &:before
          content: '\2714'
          margin-right: 10px
          background-color: #006bb3
          color: #fff
          padding: 3px 6px
        p
          float: right
          width: 82%
          margin-top: -8px
        span
          color: #006bb3  
          font-weight: 500    
    &--text
      padding: 0
      text-align: center
      p
        font: 400 22px/36px "Roboto", sans-serif
        color: #291818
      span
        font-size: 36px
        color: #fff 
        background-color: #006bb3
        padding: 5px 15px
+comment("work style")       
.work 
  padding: 0
  background: url(../img/work.png) no-repeat
  +cover
  background-position: center 50px
  &__info
    padding: 25px 0 25px
    text-align: center
    &--text
      color: #fff
      font: 400 14px/18px 'Roboto', sans-serif
      margin-bottom: 35px
      padding: 0 15px
  .form__btn
    color: #fff
    @extend .sale__btn
    &:hover,
    &:focus,
    &:active
      .fa
        color: inherit
  &__advantage1
    padding: 0 0 10px       
  &__advantage2
    padding: 50px 0 0
    position: relative
    z-index: 10
    margin-top: -170px
    background: url(../img/work2.png) no-repeat center 65px !important
    +cover 
    .work
      &__info
        &--text
          color: #000
          span
            color: #006bb3
    .offer__img
      margin-top: 140px 
  &__advantage3    
    .work
      &__info   
        padding: 0 0 50px
    .justice__img
      position: relative
      z-index: 20    
  &__advantage4
    padding: 180px 0 0
    @extend .work__advantage2
    .work
      &__info
        padding: 0
+comment("faq style")   
.faq
  background: #f9f9f9 
  position: relative
  padding: 60px 0 20px
  &__row
    margin-bottom: 25px
    .img
      &__right
        padding: 0px 0px 10px 10px
      &__left  
        padding: 0px 10px 10px 0
      &__right,
      &__left   
        margin: 0 auto 25px
  &__bg
    height: 250px
    width: 250px
    +br(50%)
    background-color: rgba(0, 107, 179, 0.5)
  &__text
    line-height: 330px
    font-size: 0
    p
      font: 400 26px/36px 'Roboto', sans-serif
      color: #000     
      display: inline-block
      vertical-align: middle
+comment("completed style")   
.completed
  background: #f9f9f9   
  position: relative
  &__slider
    &__info
      padding: 0 45px
    &__heading
      font: 400 18px/22px 'Roboto', sans-serif
      margin-bottom: 35px
      padding: 0 50px
      text-align: center
    &__text
      font: 400 18px/24px 'Roboto', sans-serif  
      margin-bottom: 45px
    &--time
      font: 400 20px/24px 'Roboto', sans-serif  
      span
        color: #006bb3  
        font-weight: 500
    .item
      padding-top: 50px   
      img
        margin-top: -40px  
      a
        position: absolute
        top: 47%
        left: 50%
        margin-left: -70px
        font-size: 20px
        color: #fff
        &:hover
          color: #ff9300
    .carousel
      &-control
        background: none  
        bottom: auto
        top: 475px
        width: 35px
        height: 35px
        background-color: #006bb3 
        opacity: 1
        .fa
          line-height: 35px
        &.right
          right: 15px
        &.left
          left: 15px 
  &__modal 
    margin-top: 25px
    .modal-header
      border: 0
      padding: 0
      position: relative
      .close
        position: absolute
        right: 10px
        z-index: 10
        top: 10px
        opacity: 1
    .carousel-control
      background: none  
      bottom: auto
      top: 250px
      width: 70px
      height: 70px
      background-color: #006bb3 
      opacity: 1
      .fa
        line-height: 70px
      &.right
        right: -90px
      &.left
        left: -90px  
+comment("map style")  
.map
  background: #f9f9f9   
  margin-top: 50px
  .container-fluid
    padding: 0   
+comment("footer style")    
.footer
  background: #f9f9f9 url(../img/footerbg.png) no-repeat center bottom  
  padding: 50px 0 100px  
  &__img
    position: absolute
    top: -170px
  &__heading
    float: right    
    margin-bottom: 25px
    position: relative
    padding: 0
    p
      font: 400 20px/30px 'Roboto', sans-serif
    span
      font-weight: 500
    img
      position: absolute
      right: -80px
      z-index: 10
      top: 45px
  &__row
    background-color: white
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6)
    padding: 40px 10px
    position: relative
  &__box
    padding: 0 10px  
    .form__btn
      .fa
        color: #fff
  &__callback
    padding: 10px 0 0  
    p
      font: 400 16px/20px 'Roboto', sans-serif
      text-align: center
      margin-bottom: 20px
    .nav
      &__right
        .fa
          vertical-align: top
          margin-right: -60px
          font-size: 70px
      &__phone
        >span
          display: inline-block
          width: 60%
        a
          margin-bottom: 5px
          span
            color: #006bb3
            font: 400 18px/24px 'Roboto', sans-serif  
+comment("thanks page style")          
.thanks
  color: #fff
  &__offer
    padding: 150px 0 165px !important   
  &__heading
    font: 400 40px/52px 'Roboto Slab', sans-serif
    text-transform: uppercase
  &__subheading  
    font: 400 30px/45px 'Roboto Slab', sans-serif
.map-responsive
  overflow: hidden
  height: 300px
  position: relative
.map-responsive iframe
  left: 0
  top: 0
  height: 100%
  width: 100%
  position: absolute